---
layout: default
title: Wiki
description: My personal wiki
---

<h2>{{ page.title }}</h2>
<p class="first">My personal wiki and non-linear notebook.</p>
<!-- Credit Tom Critchlow. -->
{% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
{% assign wikifolders = "" | split:"" %}
{% for folder in folders %}
{% assign tempvar = folder.path | split:"/" %}
{% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}
{% assign wikifolders = wikifolders | uniq | sort %}

<h3>Folders</h3>

<ul>
{% for folder in wikifolders %}
{% unless folder contains 'md' or folder contains 'html' %}
<li style="margin-bottom:10px;">
<a class="link black" href="/wiki/{{folder}}/">{{folder | capitalize}}</a>
</li>
{% endunless %}
{% endfor %}
</ul>

<div class="spacer"></div>
