--- 
layout: default 
---

{% assign folderfilter = page.path | replace: "/index.html" , "" %}

{% assign path = page.path | split:"/" %}

<h2>{{ page.title }}</h2>

<p class="crumbs">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% for crumb in crumbs offset: 1 %}
{% if forloop.last %}
{{ crumb | replace:'-',' ' | remove:'.html' }}
{% else %}
            
<a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a> /
{% endif %}
{% endfor %}
</p>

{% assign notes = site.pages | where_exp: "item" , "item.path contains folderfilter" | reverse %}

<h3>Entries</h3>

{% if page.expand %}
{% for item in notes %}
{% unless item.path contains "index.html" %}
<div>
<hr>
<a href="{{item.url}}"># {{item.path | replace: folderfilter , ""}}</a></li>
{{item.content | markdownify}}    
</div>
{% endunless %}
{% endfor %}
{% else %}
<ul>
{% for item in notes %}
{% unless item.path contains "index.html" %}
<li style="margin-bottom:10px;"><a href="{{item.url}}">{{item.path | replace: folderfilter , ""}}</a></li>
{% endunless %}
{% endfor %}
</ul>
{% endif %}

<div class="spacer"><div>
