--- 
layout: default 
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
   <h2 class="name headline" itemprop="name headline">{{ page.title | escape }}</h2>
   <p class="time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
   <div itemprop="articleBody">
      {{ content }}
   </div>
   <p class="meta">{% for tag in page.tags %}Tag(s): <a href="{{ site.url }}/tags/#{{ tag | cgi_escape }}" title="Posts tagged “{{ tag }}”" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}</p>
   <div class="post-nav">
      <p>
         {% if page.previous.url %}
         <a href="{{page.previous.url}}" title="Prev Post">&larr; Prev Post </a>
         <br>
         {% endif %}
      </p>
      <p>
         {% if page.next.url %}
         <a href="{{page.next.url}}" title="Next Post">Next Post &rarr;</a>
         {% endif %} 
      </p>
   </div>
</article>
<div class="spacer"></div>
